# Byte-compiled / optimized / DLL files
*$py.class
*.py[cod]
__pycache__/

# C extensions
*.so

# Distribution / packaging
*.egg
*.egg-info/
.Python
.eggs/
.installed.cfg
MANIFEST
bin/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/

# Installer logs
pip-delete-this-directory.txt
pip-log.txt

# Unit test / coverage reports
*.cover
.cache
.coverage
.coverage.*
.hypothesis/
.pytest_cache/
.tox/
coverage.xml
htmlcov/
nosetests.xml

# Translations
*.mo
*.pot

# pyenv
.python-version

# Environments
.env
.venv
ENV/
env.bak/
env/
venv.bak/
venv/